header, main, footer{
    width: 1200px; 
    margin: 0 auto;
}
header img{
     height: 40px;
}
header{
    background-color: blue;
    font-size: 20px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.rybka{
    padding-left: 945px;
}
.rybka a{
    color: white;

    margin-left: 30px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
}
.prime h1{
 font-size: 62px;
 text-align: center;
 margin-right: 50px;
 margin-left: 100px;
}
body{
    background-color: aqua;

}
.relax ul{
width: 300px;
}
.popilar td{
    padding: 12px;

}
h2 {
    text-align: center;
}
footer {
    padding: 10px;
    background-color: blue;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}
